# Environnement virtuel
.venv/

# Caches Python
__pycache__/
*.py[cod]
*$py.class

# Fichiers de logs
*.log

# Dossiers de build / distribution
build/
dist/
*.egg-info/

# Configuration des éditeurs (exemples)
.vscode/
.idea/

# Fichiers système
.DS_Store
Thumbs.db
