# Environnement virtuel
.venv/

# Caches Python
__pycache__/
*.py[cod]
*$py.class

# Fichiers de logs
*.log

# Dossiers de build / distribution
build/
dist/
*.egg-info/

# Configuration des éditeurs (exemples)
.vscode/
.idea/

# Fichiers système
.DS_Store
Thumbs.db

# Fichier produit par l'application
IC4604-B_moffat_gui.fit

# Fichiers images non utiles au projet
IC4604*